body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}

.text {
    text-align: center;
    color: #333; 
    font-family: 'Arial', sans-serif;
    position: static; 
    margin-top: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* .text {
    text-align: center;
    color: #333; 
    font-family: 'Arial', sans-serif;
    position: static; 
    margin-top: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
} */

.text:hover {
    transform: scale(1.05); /* Scale up the element slightly on hover */
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.card {
    width: 300px;
    height: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(.90);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 16px;
    justify-content: center;
    align-items: center;
    
}

.card-content h2 {
    margin-top: 0;
    color: #333;
    
}

.card-content p {
    color: #666;
}

.sticky-bottom-card {
    position: sticky;
    bottom: 0;
    background-color: red;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.sticky-bottom-card:hover {
    transform: scale(1.10);
}

.bottom-card-link {
    text-decoration: none;
    color: inherit;
}

.bottom-card-content {
    text-align: center;
}